.sidebar {
    min-width: 300px;
    width: 30%;
    border-right: 1px solid lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fafafa;
  }

  .sidebar-header {
    height: 50px;
    padding: 5px 0 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .sidebar-header-img {
    width: 42px;
    height: 42px;
  }

  .sidebar-header-img > img {
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 100%;
  }

  .sidebar-header-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    color: #51585c;
  }

  .sidebar-header-btn > .MuiSvgIcon-root {
    font-size: 23px;
  }